body {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: var(--secondary-font);
}

section {
  height: 100vh;
}

.container {
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 0.5fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "mainImage mainImage mainImage navBar navBar navBar"
    "mainImage mainImage mainImage personalOne personalOne personalTwo"
    "mainImage mainImage mainImage signature personalThree personalThree"
    "mainImage mainImage mainImage activeGroup activeGroup activeGroup";
}

.hero--image {
  grid-area: mainImage;
  background-image: url(../public/assets/heroImage.png);
  background-size: 47em;
  background-repeat: no-repeat;
}

ul {
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  list-style: none;
  display: flex;
}

.nav--bar {
  grid-area: navBar;
}

.personal--info {
  grid-area: personalOne;
}
.personal--info--2 {
  grid-area: personalTwo;
}

.signature--area {
  grid-area: signature;
}

.personal--info--3 {
  grid-area: personalThree;
}

.active--group {
  grid-area: activeGroup;
}
